{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=MeetingScheduler;User Id=sa;Password=<SOMEPASSWORD>;TrustServerCertificate=True"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
