@page "/authentication"
@rendermode InteractiveServer

<PageTitle>Authentication</PageTitle>

<div class="login-container">
    
    <header class="top-bar">
        <img src="/images/scio-logo.png" alt="Scio Logo" class="logo" />
    </header>

    <div class="content-wrapper">
        <main class="login-card animate-appear">
            
            <h1 class="welcome-text">Vítejte!</h1>
            <p class="subtitle-text">Přihlaste se do svého účtu</p>
            
            <button class="google-btn" @onclick="HandleGoogleLogin">
                <div class="google-icon-wrapper">
                    <img class="google-icon" src="/images/google-logo.svg" alt="Google Logo" />
                </div>
                <span class="btn-text">Přihlásit se přes Google</span>
            </button>

        </main>
    </div>
</div>


@inject NavigationManager NavigationManager

@code {
    private void HandleGoogleLogin()
    {
        Console.WriteLine("Redirecting to Google Auth (CZ)...");
        NavigationManager.NavigateTo("/login-google", forceLoad: true);
        
    }
}